    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>컴퓨터 기초 설계</h1>
                        <h1 class="brand-heading">1분반 1조</h1>
                        <p class="intro-text">주변에서 쉽게 접할 수 있지만<br>정확한 룰을 알지못해 즐기지 못했던<br>취미생활에 대해서 배워보자.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>